<!-- Show messages of the server with flash module -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Form for add data -->
<form action="/add-contact" method="POST">
    <input type="text" name="fullname" placeholder="Fullname" autocomplete="off" required>
    <input type="text" name="phone" placeholder="Phone" autocomplete="off" required>
    <input type="email" name="email" placeholder="Email" autocomplete="off" required>

    <button type="submit">
        Save
    </button>
</form>


<!-- Table for show data -->
<table>
    <thead>
        <tr>
            <td>Fullname</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Operations</td>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts%}
            <tr>
                <td>{{ contact.1 }}</td>
                <td>{{ contact.2 }}</td>
                <td>{{ contact.3 }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>